@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "react-toastify/dist/ReactToastify.css";
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Playpen+Sans:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

}
